.hero {
   max-width: 58%;
   height: 100%;
   padding: 60px 140px 160px 185px;
   background: linear-gradient(135deg, #ffffff, #fff5f5),
      linear-gradient(135deg, #f8bfbf, #ee8b8b);
   background-image: url(../../img/bg-pattern-desktop.svg);
   background-size: cover;
   background-repeat: no-repeat;

   @include breakpoint-down(medium) {
      padding: 60px 80px 160px 60px;
   }
   @include breakpoint-down(small) {
      min-width: 100%;
      background-image: none;
      padding: 0 30px;
   }

   &__logo {
      margin-bottom: 125px;

      @include breakpoint-down(small) {
         margin: 27px 0;

         img {
            height: 21px;
         }
      }
   }

   &__text {
      margin-top: 65px;
      margin-bottom: 45px;

      h1 {
         margin-bottom: 30px;
         font-size: $font-xl;
         letter-spacing: 15px;

         span {
            font-weight: 300;
            color: $tuscany;
         }
      }

      p {
         line-height: 25px;
         color: $tuscany;
         width: 432px;
      }

      @include breakpoint-down(small) {
         margin-top: 62px;
         margin-bottom: 36px;

         h1,
         p {
            text-align: center;
         }

         h1 {
            margin-bottom: 25px;
            font-size: $font-md;
            line-height: 44px;
         }

         p {
            width: 100%;
            font-size: $font-sm;
         }
      }
   }

   &__form {
      width: 440px;
      form {
         position: relative;
         margin-bottom: 150px;
         z-index: 1;

         label {
            display: none;
         }

         input {
            padding: 17px 32px;
            outline: none;
            border: none;
            width: 100%;
            border-radius: 3.125rem;
            border: 1px solid $queen_pink;
            font-size: $font-nm;
            font-family: "Josefin Sans", sans-serif;
            background: none;

            &::placeholder {
               color: $queen_pink;
            }

            &:focus {
               border: 2px solid $bittersweet;
            }
         }

         button {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            padding: 16px 42px;
            outline: none;
            border-radius: 50px;
            border: none;
            background: linear-gradient(to right, #f8bfbf, #ee8b8b);
            transition: background 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
               background: #fad6d6;
            }

            &::before {
               content: "";
               width: 100%;
               height: 100%;
               position: absolute;
               right: 0;
               top: 0;
               bottom: 0;
               border-radius: 50px;
               box-shadow: 0 10px 15px #f3dddc;
               z-index: -1;
            }
         }

         img.error-icon {
            position: absolute;
            top: 50%;
            right: 112px;
            transform: translateY(-50%);
            visibility: hidden;

            &.error {
               visibility: visible;
            }
         }

         small {
            position: absolute;
            left: 34px;
            bottom: -21px;
            visibility: hidden;
            font-size: $font-sml;

            &.error {
               visibility: visible;
               color: $bittersweet;
            }
         }
      }

      @include breakpoint-down(small) {
         width: 100%;

         form {
            margin-bottom: 92px;

            button {
               padding: 13.5px 28px;
            }

            img.error-icon {
               right: 82px;
            }
         }
      }
   }

   &__footer {
      .attribution {
         width: 430px;
         font-size: $font-sml;

         // I'd like give credit to Free Frontend for the hover effect on the links
         // (https://freefrontend.com/css-link-styles/)
         .link {
            cursor: pointer;
            position: relative;
            white-space: nowrap;
            text-decoration: none;
            color: $tuscany;
         }

         .link::before,
         .link::after {
            position: absolute;
            width: 100%;
            height: 1px;
            background: $tuscany;
            top: 100%;
            left: 0;
            pointer-events: none;
         }

         .link::before {
            content: "";
         }

         .link-fancy::before {
            transform-origin: 100% 50%;
            transform: scale3d(0, 1, 1);
            transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
         }

         .link-fancy:hover::before {
            transform-origin: 0% 50%;
            transform: scale3d(1, 1, 1);
            transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
         }

         .link-fancy::after {
            content: "";
            top: calc(100% + 4px);
            transform-origin: 0% 50%;
            transform: scale3d(0, 1, 1);
            transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
         }

         .link-fancy:hover::after {
            transform-origin: 100% 50%;
            transform: scale3d(1, 1, 1);
            transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
         }
      }

      @include breakpoint-down(small) {
         position: relative;
         top: -10px;
         .attribution {
            width: 100%;
            text-align: center;
            line-height: 20px;
         }
      }
   }

   &__image {
      @include breakpoint-down(small) {
         width: 100%;
         img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
         }
      }
   }
}
