// Colors
$tuscany: #ce9797;
$bittersweet: #f96262;
$grey_brown: #413a3a;
$queen_pink: #e1cfd1;

// Gradients

// Font sizes
$font-sm: 0.8125rem; // font small 13px
$font-nm: 1rem; // font normal 16 px
$font-xl: 4rem; // font extra large 64 px
