// Colors
$tuscany: #ce9797;
$bittersweet: #f96262;
$grey_brown: #413a3a;
$queen_pink: #e1cfd1;
$white: #ffffff;
$lavender_blush: #fff5f5;
$spanish_pink: #f8bfbf;
$light_coral: #ee8b8b;

// Font sizes
$font-sml: 0.8125rem; // font smaller 13px
$font-sm: 0.875rem; // font small 14px
$font-nm: 1rem; // font normal 16 px
$font-md: 2.5rem; // font medium 40px
$font-xl: 4rem; // font extra large 64 px
